span{
	padding-left: 9.5px;
	padding-right: 9.5px;
	margin: 0px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.alive{
	background-color: green;
}

.dead{
	background-color: black;
}